#this-table{
    width:100px;
    display: block;
    border:3px solid black; 
    width:800px; 
    height:710px;
    border-radius: 20px;
    margin-left: 1075px;
    margin-top: -716px;
    text-align:center;
}